/RTE
/Listings
/Objects
/Debug
/build
/makefile.targets
/rtconfig.pyc
/rt-thread
/libraries
/project.custom_argvars
/.vscode
/__pycache__
/settings
/rtconfig_preinc.h
/.sconsign.dblite
/rtthread.elf
/rtthread.hex
/rtthread.map
